{% extends 'layout.html' %}

{% block body %}

<style>
	.title {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	img {
		width: 100%;
	}
</style>

<div class="container">
	<h1 class="bold title center">Dashboard</h1>


	<h3 class="center">Hi, {{data.name.split(' ')[0]}}!</h3>

	<div class="flex">
		<a href="/questions">
			<button class="button-primary">
				Start a quiz
			</button>
		</a>

		<a href="/logout">
			<button>
				Logout
			</button>
		</a>
	</div>

	<br><br><br>

	<img src="/static/test.svg" alt="">

	<br><br><br>
</div>

{% endblock %}