{% extends 'layout.html' %}

{% block body %}

<style>
	.title {
		margin-top: 5em;
	}
</style>

<div class="container">
	<div class="flex-center">
		<h1 class="bold title center">Register</h1>
		<p><a href="/login">Already have an account?</a></p>
	</div>

	<div class="row">
		<div class="flex-center">
			<div class="six columns">
				<form method="post" action="/register" autocomplete="off">
					<input type="text" placeholder="Name" name="name" required />
					<input type="text" placeholder="Email" name="email" required />
					<input type="text" placeholder="Password" name="password" required />
					<div class="flex-center">
						<div class="six columns">
							<input type="submit" class="button-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}